- name: Download go tar file
  command: wget https://go.dev/dl/go1.22.3.linux-amd64.tar.gz
- name: Extract and move new go folder to /usr/bin 
  command: tar -C /usr/bin -xzf go1.22.3.linux-amd64.tar.gz 
  become: true 
- name: Delete downlaod tar file 
  shell: rm -rf go1.22.3.linux-amd64.tar.gz* 
- name: Add go binary path to ~/.profile    
  lineinfile:
    path: ~/.zshrc 
    line: 'export PATH=$PATH:/usr/bin:$GOPATH/bin'
    create: true
    state: present 
- name: Add GOPATH 
  lineinfile:
    path: ~/.zshrc 
    line: 'export GOPATH=/usr/bin/go'
    create: true 
    state: present 
- name: Add GOROOT
  lineinfile:
    path: ~/.zshrc 
    line: 'export GOROOT=$HOME/go'
    create: true 
    state: present 
- name: Source updated profile and test go version 
  shell: . ~/.profile && go version 


