- name: Create the tools directory
  ansible.builtin.file:
    path: /root/tools
    state: directory 
    mode: '0754'
- name: 'massdns-clone'
  git:
    repo: 'https://github.com/blechschmidt/massdns'
    dest: '/root/tools/massdns'
- name: 'massdns - make'
  make:
    chdir: '/root/tools/massdns'
- name: 'massdns - install'
  make:
    chdir: '/root/tools/massdns'
    target: 'install'
  become: true 
